*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #FF900E;
    --secondary: #727272;
    --body: #fae8d1;
}
.container{
    max-width: 992px;
    margin: 0 auto;
}
body{
    font-family: sans-serif, serif;
}

.primary-color{
    color: var(--primary);
}
.secondary-color{
    color: var(--secondary);
}

/* ======================================================================
======================================================================= */




/* Start nav bar ================*/
.nav-bg{
    background-color: var(--body);
    border-bottom: 1px solid var(--primary);
    padding: 15px 0px;
}
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.nav-menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-align: center;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    padding: 15px 25px;
    display: block;
    border-radius: 5px;
    transition: 1s all ease;
}
.nav-menu ul li a:hover{
    background-color: var(--primary);
    color: var(--body);

}

#Active{
    background-color: var(--primary);
}
/* End nav bar ======================== */


/* Start brand information section =========== */
.brand-info-bg{
    background-color: var(--body);
}
.brand-info{
    text-align: center;
    padding: 30px 20px;
}
.brand-info p{
    margin-top: 15px;
    color: var(--secondary);
}
.brand-info a{
    background-color: var(--primary);
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
    padding: 10px 20px;
    border-radius: 7px;
    color: var(--body);
    font-weight: 600;
    border: 2px solid var(--body);
    transition: 1s all ease;

}
.brand-info a:hover{
    color: var(--primary);
    background-color: var(--body);
    border: 2px solid var(--primary);
}

/* End brand information section =========== */

/* Start banner section =========================== */
.banner-bg{
    background-color: var(--body);
    padding-bottom: 20px;
}
.banner img{
    width: 100%;
}
/* End banner section =========================== */

/* Start Activities section ======================*/
.activities-bg{
    padding: 30px 0px;
    margin: 15px;
}
.activities-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.activities-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 45%;
}
.activities-img img{
    width: 100%;
}
.activities-content{
    width: 45%;
}
.activities-content p{
    margin-top: 15px;
    text-align: justify;
    font-size: 14px;
}
.activities-content a{
    background-color: var(--primary);
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
    padding: 10px 20px;
    border-radius: 7px;
    color: var(--body);
    font-weight: 600;
    border: 2px solid var(--body);
    transition: 1s all ease;
}
.activities-content a:hover{
    color: var(--primary);
    background-color: var(--body);
    border: 2px solid var(--primary);
}

/* End Activities section ======================= */

/* Start offer section ===========================*/
.offer-bg{
   padding: 50px 0px;
}
.offer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.offer-content{
    width: 45%;
}
/* .offer-item{
    
} */
.offer-item p{
    margin-top: 10px;
    color: var(--secondary);
    font-size: 12px;
    text-align: justify;
}
.offer-item-top{
    border-left: 5px solid var(--primary);

}
.offer-item-bottom{
    margin-left: 15px;
}
.offer-item-top h3{
    margin-left: 10px;


}
.offer-item h5{
    margin-top: 50px;
}
.offer-item h5{
    font-weight: 700;
}
.offer-img{
    position: relative;
    width: 45%;
}
.offer-img img{
    width: 100%;
}
.offer-img a{
    position: absolute;
    bottom: -25px;
    left: -50px;
    background-color: var(--primary);
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 7px;
    color: var(--body);
    text-align: center;
}
.ten-years{
    font-size: 30px;
    font-weight: 700;
}
/* End offer section ===========================*/

/* start service section ======================= */
.service-head{
    padding: 20px 0px;
    width: 300px;

}
.service-head p{
    color: var(--secondary);
    font-size: 14px;
    margin-top: 10px;

}
.service-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}
.service-box .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 1px solid var(--primary);
    border-radius: 7px;


}
.service-box .box img{
    margin-bottom: 10px;
    width: 25%;

}
/* End service section ======================= */

/* Start Sponsore section =========================*/
.sponsore-head{
    padding: 20px 0px;
    width: 300px;

}
.sponsore-head p{
    color: var(--secondary);
    font-size: 14px;
    margin-top: 10px;

}
.sponsores-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}
/* End Sponsore Section============================ */


/* Start Footer Section ============================ */
.footer-bg{
    background-color: var(--secondary);
}
footer{
    margin-top: 50px;
    padding: 25px;
    text-align: center;
    background-color: var(--secondary);

}
/* End Footer Section ============================ */



/* Start Media Quary 
================================== Only for Mobile Viwe
================================== */


@media screen and (max-width: 576px) {
    .nav-menu{
        display: none;
    }
    .nav-bar{
        justify-content: center;
        padding: 10px;
        border-bottom: none
    }
    .nav-bg{
        background-color: var(--primary);
        padding: 0px;
    }
    .brand-logo h1{
        color: var(--body);
        font-size: 25px;
        text-transform: uppercase;
    }
    .activities-img{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .activities-content{
        width: 100%;
        margin-top: 25px;
    }
    .activities-container{
        flex-direction: column;
    }
    .offer-container{
        flex-direction: column;
    }
    .offer-content{
        width: 100%;
        padding: 15px;
    }
    .offer-img{
        width: 100%;
        padding: 15px;
    }
    .service-box{
        flex-direction: column;
    }
    .service-container{
        margin: 15px;
    }
    .service-box .box{
        width: 100%;
        height: 250px;
        margin-top: 15px;
    }
    .offer-img a{
        bottom: 20px;
        left: 15px;
    }
    .sponsor-container{
        margin: 15px;
    }
    .sponsores-logo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
    }
    .sponsores-logo img{
        width: 70%;
        margin: 15px;
    }

}
/* Eand Media Quary ======================== */