*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #FF900E;
    --secondary: #727272;
    --body: #FFE9CE;
}
.container{
    max-width: 992px;
    margin: 0 auto;
}
body{
    font-family: sans-serif, serif;
}


/* ======================================================================
======================================================================= */




/* Start nav bar ================*/
.nav-bg{
    background-color: var(--body);
    border-bottom: 2px solid var(--primary);
    padding: 15px 0px;
}
.nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.nav-menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-align: center;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    padding: 15px 25px;
    display: block;
    border-radius: 5px;
    transition: 1s all ease;
}
.nav-menu ul li a:hover{
    background-color: var(--primary);
    color: var(--body);

}

#Active{
    background-color: var(--primary);
}
/* End nav bar ======================== */


/* Start brand information section =========== */
.brand-info-bg{
    background-color: var(--body);
}
.brand-info{
    text-align: center;
    padding: 30px 20px;
}
.brand-info p{
    margin-top: 15px;
    color: var(--secondary);
}
.brand-info a{
    background-color: var(--primary);
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
    padding: 10px 20px;
    border-radius: 7px;
    color: var(--body);
    font-weight: 600;
    border: 2px solid var(--body);
    transition: 1s all ease;

}
.brand-info a:hover{
    color: var(--primary);
    background-color: var(--body);
    border: 2px solid var(--primary);
}

/* Start brand information section =========== */









@media screen and (max-width: 576px) {
    .nav-menu{
        display: none;
    }
    .nav-bar{
        justify-content: center;
        padding: 10px;
        border-bottom: none
    }
    .nav-bg{
        background-color: var(--primary);
        padding: 0px;
    }
    .brand-logo h1{
        color: var(--body);
        font-size: 25px;
        text-transform: uppercase;
    }
}
